<template>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-blog" role="tabpanel" aria-labelledby="nav-home-tab">

<div class="cardbox shadow-lg bg-white" v-for="blog in blogs" :key="blog.id">
<div class="cardbox-heading">
<!-- START dropdown-->
    <div class="dropdown float-right">
    <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
    <em class="fa fa-ellipsis-h"></em>
    </button>
      <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
      <a class="dropdown-item" href="#">Hide post</a>
      <a class="dropdown-item" href="#">Stop following</a>
      <a class="dropdown-item" href="#">Report</a>
      </div>
</div><!--/ dropdown -->
<div class="media m-0">
<div class="d-flex mr-3">
<a href=""><img class="img-fluid rounded-circle" :src="blog.user.user_images.photo" alt="User"></a>
</div>
<div class="media-body">
  <p class="m-0">{{blog.user.nick_name}}</p>
  <!--<small><span><i class="icon ion-md-pin"></i> Nairobi, Kenya</span></small>-->
  <small><span><i class="icon ion-md-time"></i> {{blog.modify_date}}</span></small>
  </div>
</div><!--/ media -->
</div><!--/ cardbox-heading -->
<div class="cardbox-item">
<div class ="blog-content">
<!--<H3>{{blog.content}}</H3>-->
<read-more more-str="read more" :text="blog.content" link="#" :max-chars="120"></read-more>
</div>
<div class="preview" v-if="blog.preview !== '' ">
<a :href="blog.preview.url" target='_blank'>
<div class="text-center" v-if="blog.preview.image !== null ">
<img class="img-fluid" :src="blog.preview.image" alt="Image" >
</div>
<h4>{{blog.preview.title}}</h4>
<h5>{{blog.preview.description}}</h5>
</a>
</div><!--/ preview -->
</div><!--/ cardbox-item -->
<div class="cardbox-base">
<ul class="float-right">
<li><a><i class="fa fa-comments"></i></a></li>
<li><a><em class="mr-5">{{Object.keys(blog.comments).length}}</em></a></li>
<!--<li><a><i class="fa fa-share-alt"></i></a></li>
<li><a><em class="mr-3">03</em></a></li>-->
</ul>
<ul>
<li><a><i class="fa fa-heart"></i></a></li>
<!--<li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/3.jpeg" class="img-fluid rounded-circle" alt="User"></a></li>
<li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/1.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
<li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/5.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
<li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/2.jpg" class="img-fluid rounded-circle" alt="User"></a></li>!-->
<li><a><em class="mr-5">{{Object.keys(blog.likes).length}}</em></a></li>
</ul>
</div><!--/ cardbox-base -->
<div class="cardbox-comments">
<!--<span class="comment-avatar float-left">
<a href=""><img class="rounded-circle" src="" alt="..."></a>
</span>-->
<div class="search">
<input placeholder="Write a comment" type="text">
<!--<button><i class="fa fa-camera"></i></button>-->
</div><!--/. Search -->
</div><!--/ cardbox-like -->

</div><!--/ cardbox -->



    </div>
    <div class="tab-pane fade" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>


</template>

<script>
    export default {
        props: {
        'profile':{type: Object}
        },
        data(){
          return {
          blogs:[],blogsurl:'/blog'
          };
        },
        methods:{
        handleScroll:_.throttle(function(event){
          var scroll_position_for_posts_load = $(window).height() + $(window).scrollTop() + 100;
          if(scroll_position_for_posts_load >= $(document).height()) {
              this.getBlogs();
              console.log('load page');
          }
        },350),
        getBlogs: function() {
           console.log('getBlogs')
           console.log('id:'+ this.profile.id)
           axios.post(this.blogsurl, {
           id: this.profile.id
          })
          .then(response => {
          var anchorme = require("anchorme").default;
          let tempblogs = response.data.data;
          console.log(response.data);
          tempblogs.forEach(

          item =>{
                //if pewview = '' then let previews ='' else let pewviews
                item.preview = item.preview == '' ? '' :JSON.parse(item.preview);
                item.content = item.content.replace(/(^|\s)(#(\S*))/ig,'<a href="/search/$3">$2</a>');
                item.content = anchorme(item.content);
                this.blogs.push(item);

            }
          );
          if(response.data.next_page_url !== null)
          {
          this.blogsurl=response.data.next_page_url;
          }else{
          window.removeEventListener('scroll', this.handleScroll);
          }
        })
          .catch(function (error) {
            console.log(error);
          });
          },


        },
        mounted() {
            console.log('profletabls mounted.')
            console.dir(this.profile.id)
            this.getBlogs()

        },
        updated(){
            console.log('profiletabls updated.')
        },
        created () {
          window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
          window.removeEventListener('scroll', this.handleScroll);
        }
            }
</script>
