<template>


                <div class="card card-default">
                    <div class="card-header">Profile</div>
                    <div class="card-body">
                        <img :src="images.photo" class="profile_avatar">
                        <span>{{profile.nick_name}}</span>
                        <span>{{profile.introduction}}</span>
                    </div>
                </div>


</template>

<script>
    export default {
        props: {
        'profile':{type: Object}
        ,'images':{type: Object}
        },

        methods:{

        },
        mounted() {
            console.log('profile mounted.')
            //console.dir(this.profile.id)


        },
        updated(){

        }

    }
</script>
