.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.blog {
  height: auto;
  color: #FFFFFF;
  background: #0D3B61;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20), inset 0 1px 0 0 rgba(255,255,255,0.05);
  padding: 20px;
  border: 10px;
  margin-bottom:  30px;
  overflow:hidden;
}

.blog_avatar {
    float: left;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile {
  position: relative;
  width: 680px;
  height: 480px;
  overflow: hidden;
}
.profile_avatar{
  //position: absolute;
  //left:33%;
  margin-bottom: 33%;
  width: 33%;
  height: auto;
  border-radius: 50%;
  z-index: 2
}

.profile_background{
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  z-index: 1;
}

.profile_nick_name{
  position: absolute;
  color:#FAAF19;
  font-size: 16px;
  font-size: 3vw;
  font-family: "Raleway", sans-serif;
  z-index: 3;
}

.profile_info{
  position: relative;
  text-align: center;
  color:#FAAF19;
  font-size: 16px;
  font-size: 2vw;
}

h4.blog {
    padding: 10px;
    width: 90%;
    float: left;
}
h3.blog {
    padding: 10px;
    width: 90%;
    float: left;
}

.blog_User {
  width: 80%;
  height: auto;
}
h
.blog_content {
  //padding: 30px;
  float: left;
}

img.blog {
  width: 100%;
  height: auto;
}

html {
  //background-color: #000000;
}

.py-4 {
  //background-color: #000000;
}

body {
  padding-top:30px;
  background-color: #000000;
}


#blog_post_preview_image {
  max-width: 100%;
  max-height: 100%;
}

#post_image_preview {
  max-width: 100%;
  max-height: 100%;
}

textarea {
  min-height:110px;
}

.noresize {
  resize: none;
}

.vresize {
  resize: vertical;
}

.hresize {
  resize: horizontal;
}

img .preview{
  max-width : 100%;
  height: auto;
}

div .preview{
  width: 100%;
  height: 100%;
}

a .preview{
  width: 100%;
  height: 100%;
}

.blog_detail {
  width: 100%;
  float: right;
}

.YO {
  float: right;
  padding-left:   5px;
  padding-right:    5px;
}

.comment_count {
  float: right;
  padding-left:   5px;
  padding-right:    5px;
}

div .blog_YO_button {
  float: left;
  position: relative;
  width:50%;

}

div .blog_unYO_button {
  float: left;
  position: relative;
  width:50%;

}

div .interactive {
  font-size: 21px;
  max-width:  100%;
  margin-bottom: auto;
  height: auto;
}

div .blog_comment_button {
  float: left;
  position: relative;
  width:50%;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    //height: auto;
    overflow: hidden;
}


.icon-unYO {
    background: url(/images/ic_favorite_fill_g.png) no-repeat center;
}

.icon-YO {
    background: url(/images/ic_favorite_g.png) no-repeat center;
}

.icon-comment {
    background: url(/images/ic_comment_g.png) no-repeat center;
}

div .social-login-button {
  margin: 0 auto;
  //width:33%;
  text-align: center;
  background-image: linear-gradient(-90deg, #F27E18 0%, #FAAF19 100%);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.12);
  border-radius: 100px;
}

 .social-login {
  font-size: 14px;
  color: #FFFFFF;
  //letter-spacing: 0;
  //line-height: 24px;
}

.social-login:hover {
 font-size: 14px;
 color: #FFFFFF;
 //letter-spacing: 0;
 //line-height: 24px;
}

.icon-facebook-logo {
  background: url(/images/logo_facebook_w.png) no-repeat center;
}

.icon-google-logo {
  background: url(/images/logo_google.png) no-repeat center;
}


.Profile
{
  height: auto;
  color: #FFFFFF;
  background: #0D3B61;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20), inset 0 1px 0 0 rgba(255,255,255,0.05);
  padding: 20px;
  border: 10px;
  margin-bottom:  30px;
  //overflow:hidden;


    height: 400px;
    display: inline-block;
    }

.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis
{
    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider
{
    background:none;
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }

    /*
    *
    * ===========================================================
    *     HERO SECTION
    * ===========================================================
    *
    */
    .hero {
      padding: 6.25rem 0px !important;
      margin: 0px !important;
    }
    .cardbox {
      border-radius: 3px;
      margin-bottom: 20px;
      padding: 0px !important;
    }

    /* ------------------------------- */
    /* Cardbox Heading
    ---------------------------------- */
    .cardbox .cardbox-heading {
      padding: 16px;
      margin: 0;
    }
    .cardbox .btn-flat.btn-flat-icon {
     border-radius: 50%;
     font-size: 24px;
     height: 32px;
     width: 32px;
     padding: 0;
     overflow: hidden;
     color: #fff !important;
     background: #b5b6b6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .cardbox .float-right .dropdown-menu{
      position: relative;
      left: 13px !important;
    }
    .cardbox .float-right a:hover{
      background: #f4f4f4 !important;
    }
    .cardbox .float-right a.dropdown-item {
      display: block;
      width: 100%;
      padding: 4px 0px 4px 10px;
      clear: both;
      font-weight: 400;
      font-family: 'Abhaya Libre', serif;
      font-size: 14px !important;
      color: #848484;
      text-align: inherit;
      white-space: nowrap;
      background: 0 0;
      border: 0;
    }

    /* ------------------------------- */
    /* Media Section
    ---------------------------------- */
    .media {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .d-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }
    .media .mr-3{
      margin-right: 1rem !important;
    }
    .media img{
      width: 48px !important;
      height: 48px !important;
      padding: 2px;
      border: 2px solid #f4f4f4;
    }
    .media-body {
      -ms-flex: 1;
      flex: 1;
      padding: .4rem !important;
    }
    .media-body p{
      font-family: 'Rokkitt', serif;
      font-weight: 500 !important;
      font-size: 14px;
      color: #88898a;
    }
    .media-body small span{
      font-family: 'Rokkitt', serif;
      font-size: 12px;
      color: #aaa;
      margin-right: 10px;
    }


    /* ------------------------------- */
    /* Cardbox Item
    ---------------------------------- */
    .cardbox .cardbox-item {
        position: relative;
        display: block;
    }
    .cardbox .cardbox-item img{
    }
    .img-responsive{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .fw {
        width: 100% !important;
    	height: auto;
    }


    /* ------------------------------- */
    /* Cardbox Base
    ---------------------------------- */
    .cardbox-base{
     border-bottom: 2px solid #f4f4f4;
    }
    .cardbox-base ul{
     margin: 10px 0px 10px 15px!important;
     padding: 10px !important;
     font-size: 0px;
      display: inline-block;
    }
    .cardbox-base li {
      list-style: none;
      margin: 0px 0px 0px -8px !important;
      padding: 0px 0px 0px 0px !important;
      display: inline-block;
    }

    .cardbox-base li a{
      margin: 0px !important;
      padding: 0px !important;
    }
    .cardbox-base li a i{
     position: relative;
     top: 4px;
     font-size: 16px;
     color: #8d8d8d;
     margin-right: 15px;
    }
    .cardbox-base li a span{
     font-family: 'Rokkitt', serif;
     font-size: 14px;
     color: #8d8d8d;
     margin-left: 20px;
     position: relative;
     top: 5px;
    }
    .cardbox-base li a em{
     font-family: 'Rokkitt', serif;
     font-size: 14px;
     color: #8d8d8d;
     position: relative;
     top: 3px;
    }
    .cardbox-base li a img{
      width: 25px;
      height: 25px;
      margin: 0px !important;
      border: 2px solid #fff;
    }


    /* ------------------------------- */
    /* Cardbox Comments
    ---------------------------------- */
    .cardbox-comments{
      padding: 10px 40px 20px 40px !important;
      font-size: 0px;
      text-align: center;
      //display: inline-block;
    }
    .cardbox-comments .comment-avatar img{
      margin-top: 1px;
      margin-right: 10px;
      position: relative;
      display: inline-block;
      text-align: center;
      width: 40px;
      height: 40px;
    }
    .cardbox-comments .comment-body {
      overflow: auto;
    }
    .search {
     position: relative;
     //right: -60px;
     //top: -40px;
     //margin-bottom: -40px;
     border: 2px solid #f4f4f4;
     width: 100%;
     overflow: hidden;
    }
    .search input[type="text"] {
     background-color: #fff;
     line-height: 10px;
     padding: 15px 60px 20px 10px;
     border: none;
     border-radius: 4px;
     width: 100%;
     font-family: 'Rokkitt', serif;
     font-size: 14px;
     color: #8d8d8d;
     height: inherit;
     font-weight: 700;
    }
    .search button {
     position: absolute;
     right: 0;
     top: 0px;
     border: none;
     background-color: transparent;
     color: #bbbbbb;
     padding: 15px 25px;
     cursor: pointer;

     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .search button i {
     font-size: 20px;
     line-height: 30px;
     display: block;
    }


    /* ------------------------------- */
    /* Author
    ---------------------------------- */
    .author a{
     font-family: 'Rokkitt', serif;
     font-size: 16px;
     color: #00C4CF;
    }
    .author p{
     font-family: 'Rokkitt', serif;
     font-size: 16px;
     color: #8d8d8d;
    }
