
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #0D3B61;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
    display: #ffffff;
    padding: 0.5rem 1rem;
}

// Custom
@import "custom";

@import "~font-awesome/scss/font-awesome.scss";
